streamlit
openai
google-generativeai
deep-translator
langdetect
emoji
pandas
matplotlib
seaborn
python-dotenv
requests
yt-dlp
youtube-comment-downloader
streamlit-lottie
streamlit-qrcode
streamlit-ace
streamlit-plotly-events
streamlit-embeds